.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  .logo {
    max-width: 236px;
    max-height: 26px;
  }
  .hamburger {
    opacity: 0;
  }
  .nav_list {
    display: flex;
    list-style-type: none;
    gap: 33px;
    align-items: center;
    a {
      text-decoration: none;
      font-family: 'Barlow', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height, or 125% */

      letter-spacing: 0.923077px;
      text-transform: uppercase;

      color: #83888f;
    }
    :hover {
      font-family: 'Barlow', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height, or 125% */

      letter-spacing: 0.923077px;
      text-transform: uppercase;

      color: #333d4b;
    }
  }
  //   MEDIA FOR TABLET   //
  @include tablet {
    margin-bottom: 55px;
  }
  // ///MEDIA FOR MOBILE /////
  @include phone {
    margin-bottom: 42px;
    .logo img {
      width: 163px;
      height: 18px;
    }

    .nav_list {
      display: none;
      visibility: hidden;
    }
    .hamburger {
      opacity: 1;
      display: flex;
      align-items: center;
    }
  }
}
